 @font-face{
    font-family: 'JosefinSans-VariableFont';
    src: url('fons/JosefinSans-VariableFont_wght.ttf') format('truetype');
 }
 body{
            /* задний фон страницы */
            background-image: url(images/fon2.jpg);
            /* картинка не повторялась */
            background-repeat: no-repeat;
            /* растягивает картинку на весь экран */
            background-size: cover;
            /* граница */
            border: 2px solid black;          
            /* внутренний отступ от контента до его границы */
            padding: 10px;
           /* шрифт */
             font-family: "Josefin Sans", sans-serif;
            /* отступы слева справо */
            margin-left: 20%;
            margin-right: 20%;
          /* выравневание текста */
           text-align: center;
           color: rgb(17, 0, 113);
           font-size: 20px;
           line-height: 1.2;
        }

    p {color:rgb(51, 1, 1);

    }
    


    h1,h2{
       color: rgb(86, 50, 25);
    }
    h1{
        /*  подчёркивание на всю ширину элемента*/
        /* border: bottom 2px; */
        /* подчёркивание только на ширину контента  */
        text-decoration: underline;
    }
    .coffeesection{
     color: black;
     font-weight: 700;
    }
    .teasection{
        color: black;
        font-weight: 600;
    }
    .lemonadesection{
        color: black;
        font-weight: 500;
    }
    .q1{
        color: rgb(191, 180, 33);
        font-style: italic;
    }
    .d1{
        background-image: url(images/background.gif);
        background-repeat: no-repeat;
        background-position: top left;
        background-color: rgb(166, 249, 249);
        border-radius: 10px;
        border-left: 5px solid rgb(17, 0, 255);
        padding: 20px 20px 20px 80px;
        margin-bottom: 50px;
    }
    .d2{
        background-color: rgb(175, 252, 255);
        border-radius: 10px;
        border-left: 5px solid rgb(17, 0, 255);
        padding: 25px;
        margin-bottom: 40px;
    }
.d2 ul{
    list-style-type: none;
}

.d2 li{
    background-color: rgb(109, 247, 250);
    border: 1px solid rgb(17, 0, 255);
    border-radius: 10px;
    margin: 10px 0;
    padding: 15px;

}

.d2 span{
    font-weight: 700;
    color: blue;
}

/* этот селектор применяется к не посещеным ссылкам */
a:link{
    color: brown;
}

a:visited{
    color: chartreuse;
}

/* этот селектор применяется */
a:hover{
    color: gold;
}